<div id="posts-feed">
    {% for post in posts %}
        <div class="user-post card">
            <a href="{% url 'update_post' post.pk %}">Изменить пост</a>
            <button 
                hx-post="{% url 'delete_post' post.pk %}"
                hx-swap="outerHTML"
                hx-target="#posts-feed"
                hx-confirm="Вы уверены, что хотите удалить этот пост?">
            Удалить пост
            </button>
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="user-post-{{ post.pk }}">
            {% else %}
            {% endif %}
            {{ post.description }}
        </div>
        <div>
            <div class="like-btn"
                hx-post="{% url 'toggle_like' post.pk %}"
                hx-target="#like-section-post-{{ post.pk }}"
                hx-swap="innerHTML"
                hx-trigger="click">
                <div id="like-section-post-{{ post.pk }}">
                    <span>{{ post.like_count }}</span>
                    <span class="heart">
                        {% if post.is_liked_by_current_user %}
                            {% include "icons/heart-liked.svg" %}
                        {% else %}
                            {% include "icons/heart-unliked.svg" %}
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="comments-block">
                Комментарии:
                <div class="comment-section">
                    <ul id="comment-section-post-{{ post.pk }}">
                    {% if post.comments %}
                        {% for comment in post.comments.all %}
                            <li>{{ comment.author.username }}: {{ comment.text }}</li>
                        {% endfor %}
                    {% else %}
                        Пока нет комментариев
                    {% endif %}
                    </ul>
                </div>

                <form class="comment-form" hx-post="{% url 'handle_comment' %}" hx-reset="true" hx-target="#comment-section-post-{{ post.pk }}" hx-swap="afterbegin">
                    {% csrf_token %}
                    <input type="hidden" name="post-pk" value="{{ post.pk }}">
                    {{ comment_form }}
                    <button type="submit">Отправить</button>
                </form>
            </div>
        </div>
    {% endfor %}
</div>