{% extends 'mainapp/base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<div id="chat-log"></div>
<input id="chat-message-input" type="text">
<button id="chat-message-submit">Отправить</button>

<script>
    const roomId = '{{ chat_id }}';
    const chatSocket = new WebSocket(
        `ws://${window.location.host}/ws/chat/${roomId}/`
    );
    let sendMessageButton = document.querySelector('#chat-message-submit');
    let sendMessageInput = document.querySelector('#chat-message-input');

    chatSocket.onmessage = (e) => {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').innerHTML += data.message + '<br>';
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    sendMessageButton.onclick = () => {
        const message = sendMessageInput.value;
        sendMessageInput.value = '';
        chatSocket.send(JSON.stringify({'message': message}));
    };
</script>
{% endblock %}
