{% extends 'mainapp/base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<div id="chat-log"></div>
<input id="chat-message-input" type="text">
<button id="chat-message-submit">Отправить</button>

<script>
    const roomName = 'lobby';  // Имя комнаты
    const chatSocket = new WebSocket(
        `ws://${window.location.host}/ws/chat/${roomName}/`
    );

    chatSocket.onmessage = (e) => {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').innerHTML += data.message + '<br>';
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-submit').onclick = () => {
        const message = document.querySelector('#chat-message-input').value;
        chatSocket.send(JSON.stringify({'message': message}));
    };
</script>
{% endblock %}
