{% extends 'mainapp/base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
<script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>
<style>
    .like-btn { cursor: pointer; }
    .heart { transition: all 0.3s; }
</style>
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block content %}
<div class="user-card">
    <div class="user-avatar">
        <img src="{{ user.avatar.url }}" alt="avatar-{{ user.username }}" style="max-height: 40px; max-width: 40px;">
    </div>
    <div class="user-maindata">
        <span class="h3">{{ user.first_name }} {{ user.last_name }}</span>
        <div>
            {% if user.short_description %}
                Описание: {{ user.short_description }}
            {% endif %}
        </div>
    </div>
    <div>
        {% if request.user.username != user.username %}
        <a href="{% url 'personal_chat_room' user.pk %}">
            <button class="btn btn-primary">Написать</button>
        </a>
        {% else %}
        <a href="{% url 'create_post' %}">
            <button class="btn btn-primary">Создать пост</button>
        </a>
        {% endif %}
    </div>
</div>
<div class="user-posts">
    {% for post in posts %}
        <div class="user-post card">
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="user-post-{{ post.pk }}">
            {% else %}
            {% endif %}
            {{ post.description }}
        </div>
        <div>
            <div class="like-btn"
                hx-post="{% url 'toggle_like' post.pk %}"
                hx-target="#like-section-post-{{ post.pk }}"
                hx-swap="innerHTML"
                hx-trigger="click">
                <div id="like-section-post-{{ post.pk }}">
                    <span>{{ post.like_count }}</span>
                    <span class="heart">
                        {% if post.is_liked_by_current_user %}
                            {% include "icons/heart-liked.svg" %}
                        {% else %}
                            {% include "icons/heart-unliked.svg" %}
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="comments-block">
                Комментарии:
                <div class="comment-section">
                    <ul id="comment-section-post-{{ post.pk }}">
                    {% if post.comments %}
                        {% for comment in post.comments.all %}
                            <li>{{ comment.author.username }}: {{ comment.text }}</li>
                        {% endfor %}
                    {% else %}
                        Пока нет комментариев
                    {% endif %}
                    </ul>
                </div>

                <form class="comment-form" hx-post="{% url 'handle_comment' %}" hx-reset="true" hx-target="#comment-section-post-{{ post.pk }}" hx-swap="afterbegin">
                    {% csrf_token %}
                    <input type="hidden" name="post-pk" value="{{ post.pk }}">
                    {{ comment_form }}
                    <button type="submit">Отправить</button>
                </form>
            </div>
        </div>
    {% endfor %}
</div>

<script>
document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
});
</script>
{% endblock %}
